<!-- Second navbar with the order and the checkbox for the progressbars-->
<nav class="navbar navbar-expand-lg navbar-light bg-light input-group">
  <span class="navbar-brand mb-0">Order by</span>
  <select name="" id="" (change)="change($event)" [(ngModel)]="selected" class="custom-select" >
    <option value="a">Id</option>
    <option value="b">Name</option>
    <option value="c">Height</option>
    <option value="d">Attack</option>
  </select>
  <div class="input-group-append">
    <label class="input-group-text" id="basic-addon2">
      <fa-icon [icon]="faSortAmountDownAlt"></fa-icon>
    </label>
  </div>

  <input type="checkbox" class="checkbox ml-2 mr-1" (change)="cambi($event)"  [(ngModel)]="isActive"> Show statistics
</nav>